@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #34495e;
  font-family: "Roboto condensed", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.display {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 400px;
}

.display h1 {
  display: block;
  width: 100%;
  text-align: center;
}
.drum-pad {
  border: 2px solid #333;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #34495e;
  cursor: pointer;
  color: #fff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  margin: 10px;
  width: 100px;
}

.drum-pad.active {
  opacity: 0.8;
  transform: scale(0.95);
}
